html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  background: white;
}
.undoBtn {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.undoBtn:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.undoBtn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

#toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 8px;
  border-radius: 6px;
  z-index: 10;
}


